<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>

	<connectionStrings>
		<add name="SqlDBConnectionPull" providerName="System.Data.SqlClient" connectionString="Data Source=172.16.3.121;Initial Catalog=2000_PLY_QRCODE;Integrated Security=False;User ID=sa;Password=green@2021;MultipleActiveResultSets=True"/>
		<add name="SqlDBConnectionPush" providerName="System.Data.SqlClient" connectionString="Data Source=10.1.1.214;Initial Catalog=Greenply_Dlinked;Integrated Security=False;User ID=sa;Password=del@dmin@123;MultipleActiveResultSets=True"/>
		<add name="SqlDBConnectionPullRKT_Decor" providerName="System.Data.SqlClient" connectionString="Data Source=172.16.2.126;Initial Catalog=2010_DECOR_QRCODE;Integrated Security=False;User ID=sa;Password=green@123;MultipleActiveResultSets=True"/>
		<add name="SqlDBConnectionPullRKT_Door" providerName="System.Data.SqlClient" connectionString="Data Source=172.16.2.131;Initial Catalog=2010_DOOR_QRCODE;Integrated Security=False;User ID=sa;Password=green@123;MultipleActiveResultSets=True"/>
		<add name="SqlDBConnectionPullRKT_PLY" providerName="System.Data.SqlClient" connectionString="Data Source=172.16.2.121;Initial Catalog=2010_PLY_QRCODE;Integrated Security=False;User ID=sa;Password=green@123;MultipleActiveResultSets=True"/>
		<add name="SqlDBConnectionPullTIZIT" providerName="System.Data.SqlClient" connectionString="Data Source=172.16.4.121;Initial Catalog=2020_QRCODE_TIZIT;Integrated Security=False;User ID=sa;Password=green@123;MultipleActiveResultSets=True"/>
		<add name="SqlDBConnectionPullSandila" providerName="System.Data.SqlClient" connectionString="Data Source=172.16.11.121;Initial Catalog=6000_PLY_QRCODE;Integrated Security=False;User ID=sa;Password=green@123;MultipleActiveResultSets=True"/>
	
		<add name="SqlDBConnectionPull_KHUB" providerName="System.Data.SqlClient" connectionString="Data Source=172.16.7.122;Initial Catalog=3020_HUB_QRCODE;Integrated Security=False;User ID=sa;Password=green@2022;MultipleActiveResultSets=True"/>
		<add name="SqlDBConnectionPull_BHUB" providerName="System.Data.SqlClient" connectionString="Data Source=172.16.8.122;Initial Catalog=3030_HUB_QRCODE;Integrated Security=False;User ID=sa;Password=green@2021;MultipleActiveResultSets=True"/>
		<add name="SqlDBConnectionPull_YHUB" providerName="System.Data.SqlClient" connectionString="Data Source=172.16.6.122;Initial Catalog=3040_HUB_QRCODE;Integrated Security=False;User ID=sa;Password=green@123;MultipleActiveResultSets=True"/>
	
		<add name="SqlDBConnectionPull_CHAKDAP1" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-VPJL7CK;Initial Catalog=QRCODE-PHASE1;Integrated Security=False;User ID=sa;Password=bcil@123;MultipleActiveResultSets=True"/>


	</connectionStrings>

	<log4net debug="true">
		<!-- RollingLogFile Appender -->
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file type="log4net.Util.PatternString" value="Logs\%property{LogName}.log"/>
			<appendToFile value="true"/>
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
			<rollingStyle value="Date"/>
			<datePattern value="yyyyMMdd"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %C %M - %meszsage%newline"/>
			</layout>
		</appender>
		<!-- Console Appender -->
		<appender name="console" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %-5level: %message%newline"/>
			</layout>
		</appender>
		<!-- Colored ConsoleAppender  -->
		<appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
			<mapping>
				<level value="ERROR"/>
				<foreColor value="White, HighIntensity"/>
				<backColor value="Red, HighIntensity"/>
			</mapping>
			<mapping>
				<level value="Info"/>
				<foreColor value="Green, HighIntensity"/>
				<!--<backColor value="Green" />-->
			</mapping>
			<mapping>
				<level value="Warn"/>
				<foreColor value="Yellow, HighIntensity"/>
				<!--<backColor value="Green" />-->
			</mapping>
			<mapping>
				<level value="Debug"/>
				<foreColor value="Green, HighIntensity"/>
				<!--<backColor value="Green" />-->
			</mapping>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %-5level: %message%newline"/>
			</layout>
		</appender>
		<root>
			<level value="DEBUG"/>
			<appender-ref ref="RollingLogFileAppender"/>
			<appender-ref ref="ColoredConsoleAppender"/>
		</root>
	</log4net>

</configuration>